.env
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite
*.ipynb_checkpoints
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
*.snap
.mypy_cache/
.dmypy.json
.dmypy/
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-*
.DS_Store